.Homehead {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;
    color: #0d5a65;
  }
  .Homesearch {
    width: 213px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #EEEEEE;
    outline: none;
  }
  .Homesearch::placeholder{
  color: black;
  }
  .searchicon{
      width: 12.87px;
  height: 12.88px;
  margin-top: 10px;
  margin-left: 12px;
  }
  .boxcontainer {
      max-width: 100%;
      overflow-x: auto;
      height: auto;
      padding: 20px 5px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
  }
  
  .Homebox {
      width: 253px;
      height: auto !important;
      border-radius: 8px;
      border: 1px solid #FFFFFF;
      box-shadow: 0px 0px 4px 3px #000AFF40;
      margin-right: 20px;
      flex: 0 0 auto;
      padding: 5px;
  }
  
  .boxheading{
      font-family: Open Sans;
  font-size: 20px;
  font-weight: 650;
  line-height: 27.24px;
  text-align: center;
  }
  .leadsdiv{
    position: relative;
    width: 100%;
    height: 49px;
    border-radius: 8px;
    border: 1px;
    margin-bottom: 5px;
    background: #81C5E2E5;
    border: 1px solid #787878;
  }
  .leadsnumber{
    font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27.24px;
text-align: center;
position: absolute;
cursor: pointer;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  }

  .dealscontainer{
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    height: auto;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  .Dealbox {
    width: 253px;
    height: auto;
    background-color: #0000000D;
    border-radius: 6px;
    margin-right: 20px;
    flex: 0 0 auto;
    padding: 7px;
}
.dealheading{
font-size: 20px;
font-weight: 500;
line-height: 23.14px;
text-align: left;
color: #000000;
}
.dealcard{
  width: 100%;
  height: 135px;
  box-shadow: 0px 0px 2px 2px #00000026;
  background-color: #FFFFFF;
  margin-bottom: 10%;
  cursor: pointer;
}
.dealcard-content{
  width: 100%;
  height: 100px;
  padding: 3%;
}
.dealcard_icons{
 width: 100%;
 height: 35px;
 padding: 3%;
 display: flex;
 align-items: center;
}
.dealtext{
font-size: 14px;
font-weight: 400;
line-height: 16.1px;
text-align: left;
color: #787878;
}
.deals_usericon{
  font-size: 26px;
  cursor: pointer;
}
.assign_button{
  font-size: 16px;
  color: red;
  cursor: pointer;
}

