
  /* Deals css */

  .dir_list{
    font-size: 16px;
    cursor: pointer;
    text-align: left;
  }
  .buttdiv1{
    width: 180px;
    height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #78787880;
    box-shadow: 0px 2px 4px 0px #00000040;
    display: flex;
    border-radius: 5px;
  }
  .bar_chat{
    width: 33px;
    height: 24px;
  }
  .cont_butt{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bar_butt{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #78787880;
    border-right: 1px solid #78787880;
  }
  .buttdiv2{
    width: 117px;
    height: 42px;
    background-color: #359A53;
    border-radius: 5px;
    display: flex;
    margin-left: 18px;
    position: relative;
  }
  .deal_butt1{
    width: 78px;
    height: 100%;
    border-right: 1px solid #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
  }
  .deal_butt1_txt{
    margin-top: 12px;
font-size: 16px;
font-weight: 400;
line-height: 23.17px;
text-align: center;
color: #FFFFFF;
  }
  .deal_butt2{
    width: 39px;
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
  }
  .arrow_down{
    width: 13px;
    height: 12px;
    cursor: pointer;
  }
  .pin_img{
    width: 36px;
    height: 38px;
  }
  .pin_text{
font-size: 20px;
font-weight: 500;
line-height: 23.14px;
text-align: left;
color: #787878;
  }
  .users_button{
    width: 163px;
    height: 34px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    position: relative;
  }
  .ruptxt{
font-size: 16px;
font-weight: 400;
line-height: 18.4px;
text-align: left;
color: #787878;
  }
  .users_butt1{
    width: 120px;
    height: 100%;
    border-right: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .users_butt2{
    width: 43px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .adminmaleimg{
    width: 22px;
    height: 22px;
  }
  .arrowblackimg{
    width: 13px;
    height: 12px;
    cursor: pointer;
  }
  .adminname{
    margin-top: 15px;
font-size: 12px;
font-weight: 400;
line-height: 13.8px;
text-align: center;
color: #787878;
  }
  .callibrush{
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
.teamlogo{
  width: 22px;
  height: 22px;
}
.teamtext{
  margin-top: 15px;
font-size: 14px;
font-weight: 400;
line-height: 16.1px;
text-align: left;
color: #787878;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
   justify-content: center;
  z-index: 1000;
 padding-bottom: 5px;
}
.modal {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .btnpopup {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  }
  .btnpopup_content {
    background-color: white;
    width: 28%;
  }

  .dltbtnpopup_content {
    background-color: white;
    width: 42%;
    z-index: 1001;
  }

.popup_content {
  background-color: white;
  width: 58%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.modal_content {
    background-color: white;
    width: 40%;
    z-index: 1001;
  }
.add_deal{
font-size: 24px;
font-weight: 400;
line-height: 27.77px;
text-align: left;
color: #000000;
}
.close_img{
  font-size: 24px;
  cursor: pointer;
}
.adddeal_div{
  padding: 20px;
  width: 100%;
  height: 78px;
  background-color: #F5F5F6;
}
.dealform1{
border-right: 1px solid #787878;
padding: 25px;
}
.dealform2{
  padding: 25px;
}
.label_text{
font-size: 18px;
font-weight: 400;
line-height: 20.83px;
text-align: left;
color: #65686F;
margin-bottom: 5px;
}
.contact_field{
  width: 100%;
  height: 53px;
  border: 1px solid #000000;
margin-bottom: 10px;
border-radius: 6px;
padding-left: 2%;
overflow: hidden;
}
.message_field{
  width: 100%;
  height: auto;
  border: 1px solid #000000;
margin-bottom: 10px;
border-radius: 6px;
padding-left: 2%;
overflow: hidden;
}
.input_field2{
  width: 100%;
  height: 100%;
  border: none;
}
.input_field2:focus{
  border: none;
  outline: none;
}
.input_field{
  width: 100%;
  height: 53px;
  border: 1px solid #000000;
margin-bottom: 10px;
border-radius: 6px;
padding-left: 5px;
}
.value_input_field{
  width: 49%;
  height: 53px;
  border: 1px solid #000000;
margin-bottom: 10px;
border-radius: 6px;
padding-left: 5px;
}
.label_addtxt{
font-size: 18px;
font-weight: 500;
line-height: 20.83px;
text-align: right;
color: #211C52;
margin-bottom: 10px;
}
.no-scroll {
  overflow: hidden;
}

.bottomdeal_div{
  padding: 20px;
  width: 100%;
  height: 64px;
  background-color: #F5F5F6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cancel_btn{
  width: 125px;
  height: 50px;
  background-color: #FFFFFF;
  text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 23.14px;
color: #000000;
border: none;
border-radius: 6px;
}
.save_btn{
  width: 125px;
  height: 50px;
  background-color: #211C52;
  text-align: center;
  font-size: 20px;
font-weight: 400;
line-height: 23.14px;
color: #FFFFFF;
border: none;
border-radius: 6px;
}
.persontxt{
font-size: 18px;
font-weight: 400;
line-height: 20.83px;
text-align: left;
color: #65686F;
}
.greyline{
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 5px;
  margin-left: 2%;
}
.label_bottomtxt{
font-size: 20px;
font-weight: 500;
line-height: 23.14px;
text-align: right !important;
color: #211C52;
}

.dropdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f1f1f1;
    width: 120px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
  }
  .subusers_dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f1f1f1;
    width: 117px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 10%;
  }
  .users_dropdown{
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
  }
  .users_hover{
  width: 100%;
  height: auto;
  padding: 15px 15px 0px 15px;
  }
  .users_hover:hover{
    padding: 15px 15px 1px 15px;
    background-color: #f1f1f1;
  }
 .teams_hover{
  width: 100%;
  height: auto;
  padding: 15px 15px 0px 15px;
  /* display: none; */
 }
 .teams_hover:hover{
  padding: 15px 15px 1px 15px;
  background-color: #f1f1f1;
}
  .import_txt{
    margin-top: 10px;
    color: #000000;
    text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 23.17px;
cursor: pointer;
  }
  .dropdown-content:hover {
    background-color: #ddd;
  }
  .importdeal_div{
    width: 100%;
    height: 43px;
    background-color: #F5F5F6;
    padding: 20px;
  }
  .import_deal{
font-size: 17px;
font-weight: 400;
line-height: 19.67px;
text-align: left;
color: #000000;
  }
  .bottomimport_div{
    width: 100%;
    height: 48px;
    box-shadow: 0px 1px 1px 0px #00000040 inset;
    background-color: #F5F5F6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }
  .cancel_btn1{
    width: 90px;
    height: 31px;
    background-color: #FFFFFF;
    border: 1px solid #CACACD;
    border-radius: 4px;
    text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 16.2px;
color: #000000;
  }
  .cancel_btn1:hover{
background-color: red;
color: #FFFFFF;
  }
  .save_btn1{
    width: 90px;
    height: 31px;
    background-color: #2D8647;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 16.2px;
  }
 .buttons_div{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  position: fixed;
  bottom: 0;
  height: 74px;
  box-shadow: 0px 0px 4px 4px #00000040;
  background-color: #FFFFFF;
  align-items: center;
 }
 .dlt_btn{
  width: 100%;
  height: 56px;
  border-radius: 6px;
font-size: 24px;
font-weight: 400;
line-height: 27.77px;
text-align: center;
color: #000000;
background-color: #D9D9D9;
border: none;
 }
 .lost_btn{
  width: 100%;
  height: 56px;
  border-radius: 6px;
  font-size: 24px;
font-weight: 400;
line-height: 27.77px;
text-align: center;
color: #FFFFFF;
background-color:#FF0000;
border: none;
 }
 .won_btn{
  width: 100%;
  height: 56px;
  border-radius: 6px;
  font-size: 24px;
font-weight: 400;
line-height: 27.77px;
text-align: center;
color: #FFFFFF;
background-color:#60CA3B;
border: none;
 }
 .stages-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
}

.stage1, .stage2, .stage3, .stage4 {
  width: 110%;
  height: 60px;
  border-radius: 10px;
  background-color: #b6b1b1;
}

.stage1 {
  clip-path: polygon(0% 0%, 82.1% 0%, 82.1% 0%, 100.1% 49.3%, 84.9% 100.3%, 85.1% 100.3%, 0% 100.3%);
}

.stage2 {

  clip-path: polygon(0% 0%, 81.2% 0%, 100% 50%, 82% 100.3%, 0% 100%, 20.6% 46%);
}
.stage3 {

  clip-path: polygon(0% 0%, 81.2% 0%, 100% 50%, 82% 100.3%, 0% 100%, 20.6% 46%);
}
.stage4 {
  clip-path: polygon(0% 0%, 100% 0%, 100.1% 47%, 100% 100%, 0% 100.3%, 19.2% 48.5%);
}


.stage1.hot {
  background-color: red;
}

.stage2.cold {
  background-color: blue;
}

.stage3.medium {
  background-color: orange;
}

.add_leads_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f1f1f1;
  width: 300px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 130%;
}
.input_assign{
  width: 100%;
}
.dealcardbtn{
  width: 100%;
  height: 150px;
  border: 1px solid #A0A0A0;
  border-radius: 6px;
  padding: 10px;
}
.inputfield_btn{
  width: 100%;
  height: 53px;
  border: 1px solid #A0A0A0;
  border-radius: 6px;
}
.inputfield2_btn{
  width: 100%;
  border: 1px solid #A0A0A0;
  border-radius: 6px;
}
.marklost_div{
  width: 100%;
  height: 64px;
  background-color: #F5F5F6;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 10px;
  padding-right: 10px;
}
.markdelete_div{
  display: flex;
  align-items: center;
  justify-content: end;
}
.cancelbtn{
  width: 97px;
  height: 50px;
  background-color: #FFFFFF;
font-size: 16px;
font-weight: 600;
line-height: 18.52px;
text-align: center;
border-radius: 6px;
border: none;
}
.cancelbtn1{
  width: 97px;
  height: 50px;
  background-color: #BFBFBF;
font-size: 16px;
font-weight: 600;
line-height: 18.52px;
text-align: center;
border-radius: 6px;
border: none;
}
.marklost_btn{
  width: 175px;
  height: 50px;
color: #FFFFFF;
background-color: #FB8B80;
font-size: 16px;
font-weight: 600;
line-height: 18.52px;
text-align: center;
border-radius: 6px;
border: none;
}
.marksave_btn{
  width: 97px;
  height: 50px;
  background-color: #2D8647;
font-size: 16px;
color: #FFFFFF;
font-weight: 600;
line-height: 18.52px;
text-align: center;
border-radius: 6px;
border: none;
}
.input_assign{
  width: 100%;
  height: 53px;
  border: 1px solid #000000;
margin-bottom: 10px;
border-radius: 6px;
padding-left: 2%;
}
